{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load attendance_filter %}

{% block breadcrumb %}
<ol class="breadcrumb navbar-breadcrumb">
  <li>
    {% trans 'Attendance' %}
  </li>
  <li class="active">
    {{ terminal.name }}
  </li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <div class="title">{% trans 'Attendance Report' %} {{ monthname }}</div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-reflow">
          <thead>
            <th colspan="32" style="text-align: center;">
              <h4>{{ monthname }}</h4>
            </th>
            <tr>
              <th>{% trans 'Name' %}</th>
              {% for d in days %}
                <th>{{ d.day }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <th scope="row">
                {{ user.fullname }}
              </th>
              {% for d in days %}
                {% with user_id=user.id date=d|date:"Ymd" %}
                  {% with data=summary|get_value:user_id %}
                    {% with status=data|get_value:date %}
                      <td class="attendance_report center" data-status="{{ status|default:""|upper }}">{{ status|default:""|upper }}</td>
                    {% endwith %}
                  {% endwith %}
                {% endwith  %}
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
  <script>
    $('.attendance_report').each(function(){
      var status = $(this).data('status');
      switch (status) {
        case 'P':
          $(this).addClass('success');
          break;
        case 'L':
          $(this).addClass('warning');
          break;
        case 'A':
          $(this).addClass('error');
          break;
        case 'W':
          $(this).css('background', 'red');
          break;
        default:
          break
      }
    });
  </script>
{% endblock %}
