{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <title>Driji - Fingerprint Attendance For School</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'css.html' %}
  </head>
  <body class="flat-blue">
    <div class="app-container">
      <div class="row content-container">
        <nav class="navbar navbar-default navbar-fixed-top navbar-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-expand-toggle">
                <i class="fa fa-bars icon"></i>
              </button>
              <ol class="breadcrumb navbar-breadcrumb">
                <li class="active">
                  {% trans 'Dashboard' %}
                </li>
              </ol>
              <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                <i class="fa fa-th icon"></i>
              </button>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-language"></i></a>
                <ul class="dropdown-menu animated fadeInDown">
                  <li class="title">
                    {% trans 'Select Language' %}
                  </li>
                  <li>
                    <ul class="list-group notifications">
                      {% get_current_language as LANGUAGE_CODE %}
                      {% get_available_languages as LANGUAGES %}
                      {% get_language_info_list for LANGUAGES as languages %}
                      {% for language in languages %}
                      <a href="#">
                        <li class="list-group-item">
                          {{ language.name_local }}
                          {% if language.code == LANGUAGE_CODE %}
                            <span class="badge success"><i class="fa fa-check icon"></i></span>
                          {% endif %}
                        </li>
                      </a>
                      {% endfor %}
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-comments-o"></i></a>
                <ul class="dropdown-menu animated fadeInDown">
                  <li class="title">
                    {% trans 'Notification' %} <span class="badge pull-right">0</span>
                  </li>
                  <li class="message">
                    {% trans 'No new notification' %}
                  </li>
                </ul>
              </li>
              <li class="dropdown danger">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-star-half-o"></i> 4</a>
                <ul class="dropdown-menu danger  animated fadeInDown">
                  <li class="title">
                    {% trans 'Notification' %} <span class="badge pull-right">4</span>
                  </li>
                  <li>
                    <ul class="list-group notifications">
                      <a href="#">
                        <li class="list-group-item">
                          <span class="badge">1</span> <i class="fa fa-exclamation-circle icon"></i> {% trans 'new registration' %}
                        </li>
                      </a>
                      <a href="#">
                        <li class="list-group-item">
                          <span class="badge success">1</span> <i class="fa fa-check icon"></i> {% trans 'new orders' %}
                        </li>
                      </a>
                      <a href="#">
                        <li class="list-group-item">
                          <span class="badge danger">2</span> <i class="fa fa-comments icon"></i> {% trans 'customers messages' %}
                        </li>
                      </a>
                      <a href="#">
                        <li class="list-group-item message">
                          {% trans 'view all' %}
                        </li>
                      </a>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dropdown profile">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Emily Hart <span class="caret"></span></a>
                <ul class="dropdown-menu animated fadeInDown">
                  <li class="profile-img">
                    <img src="{% static 'img/profile/picjumbo.com_HNCK4153_resize.jpg' %}" class="profile-img">
                  </li>
                  <li>
                    <div class="profile-info">
                      <h4 class="username">Emily Hart</h4>
                      <p>emily_hart@email.com</p>
                      <div class="btn-group margin-bottom-2x" role="group">
                        <button type="button" class="btn btn-success"><i class="fa fa-user"></i> {% trans 'Profile' %}</button>
                        <a href="{% url 'logout' %}">
                          <button type="button" class="btn btn-danger"><i class="fa fa-sign-out"></i> {% trans 'Logout' %}</button>
                        </a>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
        <div class="side-menu sidebar-inverse">
          <nav class="navbar navbar-default" role="navigation">
            <div class="side-menu-container">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">
                  <div class="icon">
                    <img src="{% static 'img/finger_48.png' %}" alt=""/>
                  </div>
                  <div class="title">Driji</div>
                </a>
                <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                  <i class="fa fa-times icon"></i>
                </button>
              </div>
              <ul class="nav navbar-nav">
                <li {% if request.path == '/' %}class="active"{% endif %}>
                  <a href="{% url 'index' %}">
                    <span class="icon fa fa-tachometer"></span><span class="title">{% trans 'Dashboard' %}</span>
                  </a>
                </li>
                <li {% if request.path == '/terminal/' %}class="active"{% endif %}>
                  <a href="{% url 'terminal' %}">
                    <span class="icon fa fa-hdd-o"></span><span class="title">{% trans 'Terminal' %}</span>
                  </a>
                </li>
                <li {% if request.path == '/user/' %}class="active"{% endif %}>
                  <a href="{% url 'user' %}">
                    <span class="icon fa fa-users"></span><span class="title">{% trans 'User Management' %}</span>
                  </a>
                </li>
                <li class="panel panel-default dropdown">
                  <a data-toggle="collapse" href="#dropdown-icon">
                    <span class="icon fa fa-envelope"></span><span class="title">{% trans 'SMS' %}</span>
                  </a>
                  <div id="dropdown-icon" class="panel-collapse collapse">
                    <div class="panel-body">
                      <ul class="nav navbar-nav">
                        <li>
                          <a href="icons/glyphicons.html">
                            <span class="icon fa fa-pencil"></span><span class="title">{% trans 'Compose Message' %}</span>
                          </a>
                        </li>
                        <li>
                          <a href="icons/glyphicons.html">
                            <span class="icon fa fa-inbox"></span><span class="title">{% trans 'Inbox' %}</span>
                          </a>
                        </li>
                        <li>
                          <a href="icons/glyphicons.html">
                            <span class="icon fa fa-paper-plane"></span><span class="title">{% trans 'Outbox' %}</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </nav>
        </div>

        <!-- Main Content -->
        {% block content %}{% endblock %}
      </div>
      <footer class="app-footer">
        <div class="wrapper">
          <span class="pull-right">2.1 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span> {% trans 'Copyright' %} © 2015.
        </div>
      </footer>
    <div>
    {% include 'script.html' %}
    {% block script %}{% endblock %}
  </body>
</html>
