{% load static %}
<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
<!-- CSS Libs -->
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/animate.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrap-switch.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/checkbox3.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/dataTables.bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/select2.min.css' %}">

<!-- CSS App -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/themes/flat-blue.css' %}">
