<!DOCTYPE html>
<html>
  <head>
    <title>Driji - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'css.html' %}
  </head>
  <body class="flat-blue login-page">
    <div class="container">
      <div class="login-box">
        <div>
          <div class="login-form row">
            <div class="col-sm-12 text-center login-header">
              <i class="login-logo fa fa-connectdevelop fa-5x"></i>
              <h4 class="login-title">Driji Login</h4>
            </div>
            <div class="col-sm-12">
              <div class="login-body">
                <div class="progress hidden" id="login-progress">
                  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    Log In...
                  </div>
                </div>
                <form method="POST" action="">
                  {% csrf_token %}
                  <span class="error">
                    {{ form.identifier.errors.0 }}
                  <span>
                  <div class="control">
                    {{ form.identifier }}
                  </div>
                  {{ form.password.errors.0 }}
                  <div class="control">
                    {{ form.password }}
                  </div>
                  <div class="login-button text-center">
                    <input type="submit" class="btn btn-primary" value="Login">
                  </div>
                </form>
              </div>
              <div class="login-footer">
                <span class="text-right"><a href="#" class="color-white">Forgot password?</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'script.html' %}
  </body>
</html>
