{% load static %}

<!-- Javascript Libs -->
<script type="text/javascript" src="{% static 'lib/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/Chart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/bootstrap-switch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/jquery.matchHeight-min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/select2.full.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/ace/ace.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/ace/mode-html.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/ace/theme-github.js' %}"></script>
<!-- Javascript -->
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
