{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load attendance_filter %}

{% block breadcrumb %}
  <ol class="breadcrumb navbar-breadcrumb">
    <li>
      {% trans 'SMS' %}
    </li>
  </ol>
{% endblock %}

{% block content %}
<div class="col-xs-12">
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        <div class="title">{% trans 'All SMS' %}</div>
      </div>
    </div>
    <div class="card-body no-padding">
      <div class="step tabs-left card-no-padding">
        <ul class="nav nav-tabs" role="tablist">
          {% with first_sms=list_sms.0 %}
            <li role="step" class="active">
              <a href="#sms_{{ first_sms.id }}" id="first_sms_{{ sms.id }}-vtab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
                <div class="icon fa fa-user"></div>
                <div class="step-title">
                  <div class="title">{{ first_sms.recipient }}</div>
                  <div class="description">{{ first_sms.message }}</div>
                </div>
              </a>
            </li>
          {% endwith %}
          {% for sms in list_sms|slice:"1:" %}
            <li role="step">
              <a href="#sms_{{ sms.id }}" id="sms_{{ sms.id }}-vtab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
                <div class="icon fa fa-user"></div>
                <div class="step-title">
                  <div class="title">{{ sms.recipient }}</div>
                  <div class="description">{{ sms.message }}</div>
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
        <div class="tab-content">
          {% with first_sms=list_sms.0 %}
            <div role="tabpanel" class="tab-pane fade active in" id="sms_{{ first_sms.id }}" aria-labelledby="home-tab">
              <p>{{ first_sms.message }}</p>
            </div>
          {% endwith %}
          {% for sms in list_sms|slice:"1:" %}
            <div role="tabpanel" class="tab-pane fade in" id="sms_{{ sms.id }}" aria-labelledby="home-tab">
              <p>{{ sms.message }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
