{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block breadcrumb %}
<ol class="breadcrumb navbar-breadcrumb">
  <li>
    <a href="{% url 'student' %}">{% trans 'Student' %}</a>
  </li>
  <li class="active">
    {% trans 'New Student' %}
  </li>
</ol>
{% endblock %}

{% block content %}
<form method="POST" action="">
  {% csrf_token %}
  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="padding-bottom: 45px;">
        <div class="card-header">
          <div class="card-title">
          <div class="title">{% trans 'Student Registration' %}</div>
          </div>
        </div>
        <div class="card-body">
          <div class="panel-body">
            <div class="form-group">
              <label for="{{ form.fullname.auto_id }}">{{ form.fullname.label }}</label>
              <span class="error">{{ form.fullname.errors.0 }}</span>
              {{ form.fullname }}
            </div>
            <div class="form-group">
              <label for="{{ form.gender.auto_id }}">{{ form.gender.label }}</label>
              <span class="error">{{ form.gender.errors.0 }}</span>
              {{ form.gender }}
            </div>
            <div class="form-group">
              <label for="{{ form.phone_number.auto_id }}">{{ form.phone_number.label }}</label>
              <span class="error">{{ form.phone_number.errors.0 }}</span>
              {{ form.phone_number }}
            </div>
            <div class="form-group">
              <label for="{{ form.address.auto_id }}">{{ form.address.label }}</label>
              <span class="error">{{ form.address.errors.0 }}</span>
              {{ form.address }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
          <div class="title">{% trans 'Parent Information' %}</div>
          </div>
        </div>
        <div class="card-body">
          <div class="panel-body">
            <div class="form-group">
              <label for="{{ form.parent_fullname.auto_id }}">{{ form.parent_fullname.label }}</label>
              <span class="error">{{ form.parent_fullname.errors.0 }}</span>
              {{ form.parent_fullname }}
            </div>
            <div class="form-group">
              <label for="{{ form.parent_gender.auto_id }}">{{ form.parent_gender.label }}</label>
              <span class="error">{{ form.parent_gender.errors.0 }}</span>
              {{ form.parent_gender }}
            </div>
            <div class="form-group">
              <label for="{{ form.parent_phone_number.auto_id }}">{{ form.parent_phone_number.label }}</label>
              <span class="error">{{ form.parent_phone_number.errors.0 }}</span>
              {{ form.parent_phone_number }}
            </div>
            <div class="form-group">
              <label for="{{ form.parent_address.auto_id }}">{{ form.parent_address.label }}</label>
              <span class="error">{{ form.parent_address.errors.0 }}</span>
              {{ form.parent_address }}
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" style="float: right; margin-bottom: 30px; margin-right: 15px;">{% trans 'Save' %}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}

{% block script %}
  <script>
    $('#id_fullname').focus();
    $("form").submit(function(){
      $(this).find(":submit").attr("disabled","disabled").html("{% trans 'Saving...' %}");
    });
  </script>
{% endblock %}
