{% extends 'base.html' %}
{% load i18n %}

{% block breadcrumb %}
<ol class="breadcrumb navbar-breadcrumb">
  <li class="active">
    {% trans 'Student' %}
  </li>
</ol>
{% endblock %}

{% block content %}
<a href="{% url 'student_add' %}">
  <button type="button" name="button" class="btn btn-primary">
      {% trans 'New Student' %}
  </button>
</a>
<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
        <div class="title">{% trans 'Student List' %}</div>
        </div>
      </div>
      <form action="{% url 'student_add_terminal'  %}" method="POST">

        <div class="card-body" style="margin-bottom: 80px;">
          <div class="actions">
            <label>{% trans 'Action' %}:
              <select name="action">
                <option value="" selected="selected">---------</option>
                <option value="upload_selected">{% trans 'Upload to terminals' %}</option>
                <option value="delete_selected">{% trans 'Delete selected users' %}</option>
            </label>
            {% csrf_token %}
            <button type="submit" class="btn btn-default" title="Run the selected action" value="0">{% trans 'Go' %}</button>
          </div>
          <table class="table table-striped" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th scope="col" class="action-checkbox-column">
                  <div class="text">
                    <span>
                      <input type="checkbox" id="select-all">
                    </span>
                  </div>
                </th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Gender' %}</th>
                <th>{% trans 'Parent' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for student in students %}
                <tr>
                  <th scope="col" class="action-checkbox-column">
                    <div class="text">
                      <span>
                        <input name="student_id_list" value={{ student.id }} type="checkbox" class='checkbox-column'>
                      </span>
                    </div>
                  </th>
                  <td>
                    <a href="{% url 'profile' student.id %}">
                      {{ student.fullname }}
                    </a>
                  </td>
                  <td>{{ student.gender_name }}</td>
                  <td>
                    <a href="{% url 'profile' student.parent.id %}">
                      {{ student.parent.fullname }}
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="center">
            <button class="btn btn-primary">
              <span class="fa fa-chevron-left"></span>
            </button>
            {% for page in students.paginator.page_range %}
              <a href="?page={{ page }}">
                <button class="btn btn-default">{{ page }}</button>
              </a>
            {% endfor %}
            <button class="btn btn-primary">
              <span class="fa fa-chevron-right"></span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
  <script>
    $('#select-all:checkbox').change(function(){
      var state = $(this).is(':checked');
      $('.checkbox-column').prop('checked', state);
    });
    var is_all_checked = function(){
      var total_checked = $('.checkbox-column:checked').length;
      var total = $('.checkbox-column').length;
      if (total == total_checked){
        return true;
      }
      return false;
    };
    $('.checkbox-column').each(function(){
      $(this).change(function(){
        $('#select-all:checkbox').prop('checked', is_all_checked());
      });
    });
  </script>
{% endblock %}
