{% extends 'base.html' %}
{% load i18n %}

{% block breadcrumb %}
<ol class="breadcrumb navbar-breadcrumb">
  <li class="active">
    {% trans 'Student' %}
  </li>
</ol>
{% endblock %}

{% block content %}
<a href="{% url 'student_add' %}">
  <button type="button" name="button" class="btn btn-primary">
      {% trans 'New Student' %}
  </button>
</a>
<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
        <div class="title">{% trans 'Student List' %}</div>
        </div>
      </div>
      <div class="card-body">
        <table class="datatable table table-striped" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>{% trans 'Name' %}</th>
              <th>{% trans 'Gender' %}</th>
              <th>{% trans 'Parent' %}</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>{% trans 'Name' %}</th>
              <th>{% trans 'Gender' %}</th>
              <th>{% trans 'Parent' %}</th>
            </tr>
          </tfoot>
          <tbody>
            {% for student in students %}
            <tr>
              <td>{{ student.fullname }}</td>
              <td>{{ student.gender_name }}</td>
              <td>{{ student.parent.fullname }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
