{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block breadcrumb %}
<ol class="breadcrumb navbar-breadcrumb">
  <li class="active">
    {% trans 'Terminal' %}
  </li>
</ol>
{% endblock %}

{% block content %}
<div class="page-title">
  <img src="{% static 'img/fingerprint_reader_48.png' %}" alt=""/>
  <span class="title">
    {% trans 'Terminal' %}
  </span>
</div>
<a href="{% url 'terminal_scan' %}">
  <button type="button" name="button" class="btn btn-primary">
      {% trans 'Add Terminal' %}
  </button>
</a>
<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
        <div class="title">
          {% trans 'Terminal List' %}
        </div>
        </div>
      </div>
      <div class="card-body" style="margin-bottom: 50px;">
        <table class="datatable table table-striped" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>{% trans 'ID' %}</th>
              <th>{% trans 'Name' %}</th>
              <th>{% trans 'Serial Number' %}</th>
              <th>{% trans 'IP' %}</th>
              <th>{% trans 'Port' %}</th>
              <th>{% trans 'Action' %}</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>{% trans 'ID' %}</th>
              <th>{% trans 'Name' %}</th>
              <th>{% trans 'Serial Number' %}</th>
              <th>{% trans 'IP' %}</th>
              <th>{% trans 'Port' %}</th>
              <th>{% trans 'Action' %}</th>
            </tr>
          </tfoot>
          <tbody>
            {% for terminal in terminals %}
              <tr>
                <td>{{ terminal.id }}</td>
                <td>{{ terminal.name }}</td>
                <td>{{ terminal.serialnumber }}</td>
                <td>{{ terminal.ip }}</td>
                <td>{{ terminal.port }}</td>
                <td style="text-align: center;">
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                      {% trans 'Action' %} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="{% url 'terminal_action' 'edit' terminal.id %}" data="action_edit">
                          <i class="fa fa-edit" aria-hidden="true"></i> {% trans 'Edit' %}
                        </a>
                      </li>
                      <li>
                        <form method="POST" action="{% url 'terminal_action' 'restart' terminal.id %}">
                          {% csrf_token %}
                        </form>
                        <a href="#" class="zk_action" data="action_restart">
                          <i class="fa fa-refresh" aria-hidden="true"></i> {% trans 'Restart' %}
                        </a>
                      </li>
                      <li>
                        <form method="POST" action="{% url 'terminal_action' 'poweroff' terminal.id %}">
                          {% csrf_token %}
                        </form>
                        <a href="#" class="zk_action" data="action_poweroff">
                          <i class="fa fa-power-off" aria-hidden="true"></i> {% trans 'Power Off' %}
                        </a>
                      </li>
                      <li>
                        <form method="POST" action="{% url 'terminal_action' 'voice' terminal.id %}">
                          {% csrf_token %}
                        </form>
                        <a href="#" class="zk_action" id="action_voice">
                          <i class="fa fa-volume-up" aria-hidden="true"></i> {% trans 'Test Sound' %}
                        </a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            {% endfor  %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
  <script>
    $('.zk_action').click(function(){
      $(this).siblings('form').submit();
    });
  </script>
{% endblock %}
